button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:last-child {
    background-color: #ccc;
}

button:first-child {
    background-color: #6c63ff;
    color: #fff;
}

button:first-child:hover {
    background-color: #594ee9;
}