.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-section {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.form-body {
    margin-bottom: 20px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

label:hover {
    cursor: pointer;
}

input,
textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #6c63ff;
}

textarea {
    height: 150px;
    resize: none;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:last-child {
    background-color: #ccc;
}

button:first-child {
    background-color: #6c63ff;
    color: #fff;
}

button:first-child:hover {
    background-color: #594ee9;
}
